fileTypes: ['eno']
name: 'Eno'
scopeName: 'text.eno'

patterns: [
  { include: '#comment' }
  { include: '#field' }
  { include: '#item' }
  { include: '#attribute' }
  { include: '#embed' }
  { include: '#continuation' }
  { include: '#section' }
  { include: '#empty' }
  { include: '#escapedField' }
  { include: '#escapedAttribute' }
  { include: '#escapedEmpty' }
  { include: '#illegal' }
]

repository:
  attribute: {
    comment: 'attribute = value'
    match: '^\\s*+(?![>\\-#\\\\|`])([^<=:]+?)\\s*(=)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'entity.name.attribute.eno'
      2: name: 'punctuation.separator.attribute.eno'
      3: name: 'value.eno'
  }
  comment: {
    comment: '> comment'
    match: '^\\s*+(>).*$'
    name: 'comment.eno'
    captures:
      1: name: 'punctuation.definition.comment.eno'
  }
  continuation: {
    comment: '| value OR \\ value'
    match: '^\\s*+(\\\\|\\|)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.continuation.eno'
      2: name: 'value.eno'
  }
  embed: {
    comment: '-- embed'
    begin: '^\\s*+(--++)\\s*+(\\S.*?)\\s*$'
    beginCaptures:
      1: name: 'punctuation.definition.embed.begin.eno'
      2: name: 'entity.name.embed.eno'
    contentName: 'value.eno'
    end: '^\\s*+(\\1)(?!-)\\s*+(\\2)\\s*$'
    endCaptures:
      1: name: 'punctuation.definition.embed.end.eno'
      2: name: 'entity.name.embed.eno'
    patterns: [
      { include: 'text.eno.embedded' }
    ]
  }
  empty: {
    comment: 'empty'
    match: '^\\s*+(?![>\\-#=:\\\\|`])([^=:]+?)\\s*$'
    captures:
      1: name: 'entity.name.empty.eno'
  }
  escapedAttribute: {
    comment: '`attribute` = value'
    match: '^\\s*+(`++)\\s*+((?:(?!\\1).)+)\\s*(\\1)\\s*+(=)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.name.begin.eno'
      2: name: 'entity.name.attribute.eno'
      3: name: 'punctuation.definition.name.end.eno'
      4: name: 'punctuation.separator.attribute.eno'
      5: name: 'value.eno'
  }
  escapedEmpty: {
    comment: '`empty`'
    match: '^\\s*+(`++)\\s*+((?:(?!\\1).)+)\\s*(\\1)\\s*$'
    captures:
      1: name: 'punctuation.definition.name.begin.eno'
      2: name: 'entity.name.empty.eno'
      3: name: 'punctuation.definition.name.end.eno'
  }
  escapedField: {
    comment: '`field`: value'
    match: '^\\s*+(`++)\\s*+((?:(?!\\1).)+)\\s*(\\1)\\s*+(:)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.name.begin.eno'
      2: name: 'entity.name.field.eno'
      3: name: 'punctuation.definition.name.end.eno'
      4: name: 'punctuation.separator.field.eno'
      5: name: 'value.eno'
  }
  field: {
    comment: 'field: value'
    match: '^\\s*+(?![>\\-#\\\\|`])([^=:]+?)\\s*(:)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'entity.name.field.eno'
      2: name: 'punctuation.separator.field.eno'
      3: name: 'value.eno'
  }
  illegal: {
    match: '^\\s*+(\\S.*?)\\s*$'
    captures:
      1: name: 'invalid.illegal.eno'
  }
  item: {
    comment: '- item'
    match: '^\\s*+(-)(?!-)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.item.eno'
      2: name: 'value.eno'
  }
  section: {
    comment: '# section'
    match: '^\\s*+(##*+)\\s*+(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.section.eno'
      2: name: 'entity.name.section.eno'
  }
