fileTypes: [ 'eno' ]
name: 'eno'
scopeName: 'text.eno'

patterns: [
  { include: '#comment' }
  { include: '#name' }
  { include: '#field' }
  { include: '#listItem' }
  { include: '#dictionaryEntry' }
  { include: '#block' }
  { include: '#append' }
  { include: '#section1' }
  { include: '#section2' }
  { include: '#section3' }
  { include: '#section4' }
  { include: '#section5' }
  { include: '#section6' }
  { include: '#inheritance' }
  { include: '#escapedDictionaryEntry' }
  { include: '#escapedField' }
  { include: '#escapedInheritance' }
  { include: '#escapedName' }
  { include: '#escapedSection1' }
  { include: '#escapedSection2' }
  { include: '#escapedSection3' }
  { include: '#escapedSection4' }
  { include: '#escapedSection5' }
  { include: '#escapedSection6' }
  { include: '#illegal' }
]

repository:
  append: {
    comment: '| value OR \\ value'
    match: '^\\s*([\\\\|])(?![\\\\|])\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.single-value.eno'
      2: name: 'value.eno'
  }
  block: {
    comment: '-- name'
    begin: '^\\s*(-{2,})(?!-)\\s*(.+?)\\s*$'
    beginCaptures:
      1: name: 'punctuation.definition.block.name.begin.eno'
      2: name: 'variable.other.name.eno'
    contentName: 'block.value.eno'
    end: '^\\s*(\\1)\\s*(\\2)\\s*$'
    endCaptures:
      1: name: 'punctuation.definition.block.name.end.eno'
      2: name: 'variable.other.name.eno'
    patterns: [
      { include: 'text.eno.embedded' }
    ]
  }
  comment: {
    comment: '> comment'
    match: '^\\s*(>).*$'
    name: 'comment.line.angled-bracket.eno'
    captures:
      1: name: 'punctuation.definition.comment.eno'
  }
  dictionaryEntry: {
    comment: 'name = value'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(=)\\s*(.+?)?\\s*$'
    captures:
      1: name: 'variable.other.name.entry.eno'
      2: name: 'punctuation.separator.name.entry.eno'
      3: name: 'value.eno'
  }
  empyLine: {
    match: '^\\s*$'
  }
  escapedDictionaryEntry: {
    comment: '`name` = value'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(=)\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.entry.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.entry.eno'
      5: name: 'value.eno'
  }
  escapedField: {
    comment: '`name`: value'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(:)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.eno'
      5: name: 'value.eno'
  }
  escapedInheritance: {
    comment: 'name < template'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(<)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.eno'
      5: name: 'variable.other.name.template.eno'
  }
  escapedName: {
    comment: '`name`:'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(:)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.eno'
  }
  escapedSection1: {
    comment: '# `section` [[<]< section]'
    match: '^\\s*(#)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section1.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section1.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.template.eno'
  }
  escapedSection2: {
    comment: '## `section` [[<]< section]'
    match: '^\\s*(##)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section2.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section2.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.template.eno'
  }
  escapedSection3: {
    comment: '### `section` [[<]< section]'
    match: '^\\s*(###)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section3.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section3.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.template.eno'
  }
  escapedSection4: {
    comment: '#### `section` [[<]< section]'
    match: '^\\s*(####)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section4.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section4.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.template.eno'
  }
  escapedSection5: {
    comment: '##### `section` [[<]< section]'
    match: '^\\s*(#####)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section5.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section5.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.template.eno'
  }
  escapedSection6: {
    comment: '###### `section` [[<]< section]'
    match: '^\\s*(#{6,})(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section6.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section6.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.template.eno'
  }
  field: {
    comment: 'name: value'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(:)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'variable.other.name.eno'
      2: name: 'punctuation.separator.name.eno'
      3: name: 'value.eno'
  }
  illegal: {
    match: '^\\s*(\\S.*+)\\s*$'
    captures:
      1: name: 'invalid.illegal.unspecified.eno'
  }
  inheritance: {
    comment: 'name < template'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(<)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'variable.other.name.eno'
      2: name: 'punctuation.separator.name.eno'
      3: name: 'variable.other.name.template.eno'
  }
  listItem: {
    comment: '- value'
    match: '^\\s*(-)(?!-)\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.list.value.eno'
      2: name: 'value.eno'
  }
  name: {
    comment: 'name:'
    match: '^\\s*(?![>\\-#=:*\\\\|`])([^<=:]+?)\\s*(:)\\s*$'
    captures:
      1: name: 'variable.other.name.eno'
      2: name: 'punctuation.separator.name.eno'
  }
  section1: {
    comment: '# section [[<]< section]'
    match: '^\\s*(#)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section1.name.eno'
      2: name: 'variable.other.section1.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.template.eno'
  }
  section2: {
    comment: '## section [[<]< section]'
    match: '^\\s*(##)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section2.name.eno'
      2: name: 'variable.other.section2.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.template.eno'
  }
  section3: {
    comment: '### section [[<]< section]'
    match: '^\\s*(###)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section3.name.eno'
      2: name: 'variable.other.section3.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.template.eno'
  }
  section4: {
    comment: '#### section [[<]< section]'
    match: '^\\s*(####)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section4.name.eno'
      2: name: 'variable.other.section4.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.template.eno'
  }
  section5: {
    comment: '##### section [[<]< section]'
    match: '^\\s*(#####)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section5.name.eno'
      2: name: 'variable.other.section5.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.template.eno'
  }
  section6: {
    comment: '###### section [[<]< section]'
    match: '^\\s*(#{6,})(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section6.name.eno'
      2: name: 'variable.other.section6.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.template.eno'
  }
