fileTypes: ['eno']
name: 'eno'
scopeName: 'text.eno'

patterns: [
  { include: '#comment' }
  { include: '#element' }
  { include: '#field' }
  { include: '#listItem' }
  { include: '#fieldsetEntry' }
  { include: '#multilineField' }
  { include: '#continuation' }
  { include: '#section' }
  { include: '#copy' }
  { include: '#escapedFieldsetEntry' }
  { include: '#escapedField' }
  { include: '#escapedCopy' }
  { include: '#escapedElement' }
  { include: '#escapedSection' }
  { include: '#illegal' }
]

repository:
  comment: {
    comment: '> comment'
    match: '^\\s*+(>).*$'
    name: 'comment.eno'
    captures:
      1: name: 'punctuation.definition.comment.eno'
  }
  continuation: {
    comment: '| value OR \\ value'
    match: '^\\s*+(\\\\|\\|)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.continuation.eno'
      2: name: 'value.eno'
  }
  copy: {
    comment: 'copy < template'
    match: '^\\s*+(?![>\\-#\\\\|`])([^<=:]+?)\\s*(<(?!<)|<<)\\s*+(\\S.*?)\\s*$'
    captures:
      1: name: 'entity.name.element.eno'
      2: name: 'punctuation.separator.template.eno'
      3: name: 'entity.name.element.template.eno'
  }
  element: {
    comment: 'element:'
    match: '^\\s*+(?![>\\-#=:\\\\|`])([^<=:]+?)\\s*(:)\\s*$'
    captures:
      1: name: 'entity.name.element.eno'
      2: name: 'punctuation.definition.element.eno'
  }
  escapedCopy: {
    comment: '`copy` < template'
    match: '^\\s*+(`++)\\s*+((?:(?!\\1).)+)\\s*(\\1)\\s*+(<(?!<)|<<)\\s*+(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.name.begin.eno'
      2: name: 'entity.name.element.eno'
      3: name: 'punctuation.definition.name.end.eno'
      4: name: 'punctuation.separator.template.eno'
      5: name: 'entity.name.element.template.eno'
  }
  escapedElement: {
    comment: '`element`:'
    match: '^\\s*+(`++)\\s*+((?:(?!\\1).)+)\\s*(\\1)\\s*+(:)\\s*$'
    captures:
      1: name: 'punctuation.definition.name.begin.eno'
      2: name: 'entity.name.element.eno'
      3: name: 'punctuation.definition.name.end.eno'
      4: name: 'punctuation.definition.element.eno'
  }
  escapedField: {
    comment: '`field`: value'
    match: '^\\s*+(`++)\\s*+((?:(?!\\1).)+)\\s*(\\1)\\s*+(:)\\s*+(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.name.begin.eno'
      2: name: 'entity.name.field.eno'
      3: name: 'punctuation.definition.name.end.eno'
      4: name: 'punctuation.separator.field.eno'
      5: name: 'value.eno'
  }
  escapedFieldsetEntry: {
    comment: '`entry` = value'
    match: '^\\s*+(`++)\\s*+((?:(?!\\1).)+)\\s*(\\1)\\s*+(=)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.name.begin.eno'
      2: name: 'entity.name.fieldset-entry.eno'
      3: name: 'punctuation.definition.name.end.eno'
      4: name: 'punctuation.separator.fieldset-entry.eno'
      5: name: 'value.eno'
  }
  escapedSection: {
    comment: '# `section` [[<]< template]'
    match: '^\\s*+(##*+)\\s*+(`++)\\s*+((?:(?!\\2).)+)\\s*(\\2)\\s*+(?:(<(?!<)|<<)\\s*+(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.eno'
      2: name: 'punctuation.definition.name.begin.eno'
      3: name: 'entity.name.section.eno'
      4: name: 'punctuation.definition.name.end.eno'
      5: name: 'punctuation.separator.template.eno'
      6: name: 'entity.name.section.template.eno'
  }
  field: {
    comment: 'field: value'
    match: '^\\s*+(?![>\\-#\\\\|`])([^<=:]+?)\\s*(:)\\s*+(\\S.*?)\\s*$'
    captures:
      1: name: 'entity.name.field.eno'
      2: name: 'punctuation.separator.field.eno'
      3: name: 'value.eno'
  }
  fieldsetEntry: {
    comment: 'entry = value'
    match: '^\\s*+(?![>\\-#\\\\|`])([^<=:]+?)\\s*(=)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'entity.name.fieldset-entry.eno'
      2: name: 'punctuation.separator.fieldset-entry.eno'
      3: name: 'value.eno'
  }
  illegal: {
    match: '^\\s*+(\\S.*?)\\s*$'
    captures:
      1: name: 'invalid.illegal.eno'
  }
  listItem: {
    comment: '- item'
    match: '^\\s*+(-)(?!-)\\s*+(\\S.*?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.list-item.eno'
      2: name: 'value.eno'
  }
  multilineField: {
    comment: '-- multiline field'
    begin: '^\\s*+(--++)\\s*+(\\S.*?)\\s*$'
    beginCaptures:
      1: name: 'punctuation.definition.multiline-field.begin.eno'
      2: name: 'entity.name.multiline-field.eno'
    contentName: 'value.eno'
    end: '^\\s*+(\\1)(?!-)\\s*+(\\2)\\s*$'
    endCaptures:
      1: name: 'punctuation.definition.multiline-field.end.eno'
      2: name: 'entity.name.multiline-field.eno'
    patterns: [
      { include: 'text.eno.embedded' }
    ]
  }
  section: {
    comment: '# section [[<]< template]'
    match: '^\\s*+(##*+)\\s*+([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*+(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.eno'
      2: name: 'entity.name.section.eno'
      3: name: 'punctuation.separator.template.eno'
      4: name: 'entity.name.section.template.eno'
  }
