.syntax--eno {

  .syntax--name { color: #ff5370; }
  .syntax--name.syntax--entry { color: #c959e2; }
  .syntax--punctuation.syntax--name.syntax--entry { color: #ff2f95; }
  .syntax--punctuation.syntax--list.syntax--value { color: #ff2f95; }
  .syntax--single-value { color: #ff2f95; }

  .syntax--section1 { color: #ffb500; }
  .syntax--section2 { color: #ff3f00; }
  .syntax--section3 { color: #ff00ac; }
  .syntax--section4 { color: #8e20ff; }
  .syntax--section5 { color: #3a34ff; }
  .syntax--section6 { color: #009dff; }

  .syntax--template { color: #b2d218; }

}
